.fg2{
	border:1px dashed #d2d2d2;
}
.header{
	height: 89px;
	background: url(../images/header-bg.png) no-repeat;
	padding-top: 2%;
	background-size: 100%;
}
.header .middle{
	margin:0 auto;
	width: 30%;
}
.header .middle a{
	display: block;
	width: 45%;
	float: left;
	border:2px solid #fdd82d;
	color:#fdd000;
	text-align: center;
	padding:2% 0;
}
.header .middle #guanzhu{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.header .middle #dongtai{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 1%;
}
.header .middle .on{
	color:white;
	background: #fdd000;
}
.cons{
	padding-top: 45px;
	margin-top: 1em;
	background: white;
}
.head .face{
	width: 9%;
	float: left;
	border:2px solid #cccccc;
}
.head .face img{
	display: inline-block;
	width: 100%;
}
.head .right{
	float: left;
	margin-left: 1.5%;
}
.head .right .name{
	float: left;
	font-size: 2em;
	color:#7c746e;
	font-weight: bold;
	padding-top: 0;
}
.head .right .addres{
	float: left;
	margin-left:6%;
	margin-top: 1%;
	width: 60%;
}
.head .right .addres .addimg{
	width: 13%;
	float: left;
}
.head .right .addres .addimg img{
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
}
.head .right .addres span{
	color:#cccccc;
	padding-left: 5%;
	float: left;
}
.head .right .time{
	color:#cccccc;
	font-size: 2em;
	margin-top: 1.5%;
}
.content{
	font-size: 1.5em;
	text-indent: 2em;
	color:#7c746e;
	padding:3% 0;
}
.content a{
	color:#ed6c00;
}
.content .shouqi{
	display: none;
}
.img{
	padding-bottom: 2%;
}
.bottom-nav{
	background: #f7f7f7;
	margin-left: 1px;
	border:1px solid #eae9e9;
}
.bottom-nav li{
	width: 32%;
	border:1px solid #eae9e9;
	float: left;
	background: #f7f7f7;
}
.bottom-nav li a{
	display: block;
	text-align: center;
	padding:3.5% 0;
}
.bottom-nav li a div span{
	font-size: 2em;
	color:#7c746e;
}
.bottom-nav li a div img{
	display: inline-block;
	width: 8%;
}
.bottom-nav li a .two img{
	padding-top: 4%;
}
.bottom-nav li a .three img{
	padding-top: 4%;
}
.bottom-nav li:first-child{
	margin-left: 1%;
	border-left: 0;
}
.plface{
	margin-top:4%;
	padding-bottom: 15px;
	float: left;
	width: 75%;
}
.plface li{
	width: 10%;
	float: left;
	overflow: hidden;
	margin:0 1%;
}
.plface li a img{
	display: inline-block;
	width: 100%;
}
.gengduo{
	float: left;
	display: block;
	border:1px solid #eae9e9;
	background: #f8f8f8;
	border-radius: 8px;
	text-align: center;
	padding:1.5% 0;
	margin:4% 0;
}
.gengduo img{
	padding-left: 12px;
	display: inline-block;
	width: 8%;
}
.gengduo span{
	padding-right: 10%;
	padding-left: 2%;
	color:#7c746e;
}
.pls{
	margin-top: 2%;
}
.pls li{
	margin:1.5% 0 0 4%;
}
.pls li div{
	font-size: 2em;
	color:#7c746e;
}
.pls li div .other-name{
	color:#53b3fe;
	text-align: right;
}
.pls li div p{
	float: left;
}
.pls li div .onep{
	width: 21%;
}
.pls li div .twop{
	width: 77%;
}
.pls li div .myname{
	color:#ed6c00;
	text-align: right;
}
.gd-if{
	width: 100%;
	border-top:1px solid #f7f7f7;
	text-align: center;
	font-size: 1.5em;
	margin-top: 2%;
	padding:4% 0;
}
.gd-if p{
	color:#cccccc;
}
.gd-if a{
	display: none;
}
.foot{
	height: 120px;
	background: white;
	position: fixed;
	bottom:0;
	width: 1080px;
}
.foot input{
	height: 82px;
	background: #ecebeb;
	border:0;
	font-size: 30px;
	border-radius: 20px;
	margin-top: 20px;
	padding-left: 30px;
	width: 87.5%;
	float: left;
}
.foot a{
	float: right;
	display: block;
	margin-top: 20px;
}




/*4图样式*/
.img .leftimg4{
	float: left;
	width: 72%;
	overflow: hidden;
	border:2px solid #fafafa;
	position: relative;
}
.img .leftimg4 img{
	display: inline-block;
	width: 100%;
	position: absolute;
}
.img .rightimg4{
	float: right;
	width: 26%;
	overflow: hidden;
}
.img .rightimg4 div{
	border:2px solid #fafafa;
	width: 100%;
	overflow:hidden;
	margin-bottom: 4px;
	position: relative;
}
.img .rightimg4 div img{
	display: inline-block;
	width: 100%;
	position: absolute;
}
/*4图样式_end*/
/*3图样式*/
.img .rightimg3{
	float: right;
	width: 72%;
	overflow: hidden;
	border:2px solid #fafafa;
	position: relative;
}
.img .rightimg3 img{
	display: inline-block;
	width: 100%;
	position: absolute;
}
.img .leftimg3{
	float: left;
	width: 26%;
	overflow: hidden;
}
.img .leftimg3 div{
	border:2px solid #fafafa;
	width: 320px;
	overflow:hidden;
	margin-bottom: 4px;
	position: relative;
}
.img .leftimg3 div img{
	display: inline-block;
	width: 100%;
	text-align: center;
	position: absolute;
}
/*3图样式_end*/
/*2图样式*/
.img .leftimg2{
	float: left;
	width: 48.5%;
	overflow: hidden;
	border:2px solid #fafafa;
	position: relative;
}
.img .leftimg2 img{
	display: inline-block;
	width: 100%;
	position: absolute;
}
.img .rightimg2{
	float: right;
	width: 48.5%;
	overflow: hidden;
	border:2px solid #fafafa;
	position: relative;
}
.img .rightimg2 img{
	display: inline-block;
	width: 100%;
	text-align: center;
	position: absolute;
}
/*2图样式_end*/
/*1图样式*/
.middleimg{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.middleimg img{
	display: inline-block;
	width: 100%;
	position: absolute;
}
/*1图样式_end*/
@media only screen and (min-width:320px){
	.img .leftimg4,.img .leftimg3,.img .rightimg3,.img .leftimg2,.img .rightimg2,.img .middleimg{height: 217px;}
	.img .rightimg4 div{height: 67px;}
	.img .leftimg3 div{height: 106px;}
	.header{height: 32px;}
}
@media only screen and (min-width:360px){
	.img .leftimg4,.img .leftimg3,.img .rightimg3,.img .leftimg2,.img .rightimg2,.img .middleimg{height: 217px;}
	.img .rightimg4 div{height: 67px;}
	.img .leftimg3 div{height: 106px;}
	.header{height: 32px;}
}
@media only screen and (min-width:480px){
	.img .leftimg4,.img .leftimg3,.img .rightimg3,.img .leftimg2,.img .rightimg2,.img .middleimg{height: 217px;}
	.img .rightimg4 div{height: 67px;}
	.img .leftimg3 div{height: 106px;}
	.header{height: 32px;}
}
@media only screen and (min-width:640px){
	.img .leftimg4,.img .leftimg3,.img .rightimg3,.img .leftimg2,.img .rightimg2,.img .middleimg{height: 217px;}
	.img .rightimg4 div{height: 67px;}
	.img .leftimg3 div{height: 106px;}
	.header{height: 32px;}
}
@media only screen and (max-width:320px){
	.head .right .name,.head .right .time,.content,.bottom-nav li a div span,.pls li div{
		font-size: 1em;
	}
}