<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<title>猿资讯点击帖子进入的详情</title>
	<link href="css/common.css" rel="stylesheet">
	<link href="css/page.css" rel="stylesheet">
	<link href="css/1.css" rel="stylesheet">
	<script src="js/jQuery-1.7.1.js"></script>
	<script src="js/page.js"></script>
</head>
<body>
<div class="row">
	<div class="rows">
		<p class="title">把中甲当欧冠踢！“银河战舰”天津权健全面解析</p>
		<div class="title-fu">
			<div class="yuan">
				<img src="images/yuan.png" alt="">
			</div>
			<span class="sp1">中国体育</span>
			<span class="sp2">20分钟前..</span>
			<div class="phone">
				<div class="zanimg">
					<img src="images/zan1.png" alt="" class="zan" />
				</div>
				<span class="num">5206</span>
			</div>
			<div class="moreimg">
				<img src="images/more.png" alt="" id="more" />
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="content">
			<p>【前言】都说今年中国足坛出现了一支超级球队—“天津权健”，能把一场普通的中甲联赛踢成欧冠！于是，趁着国际比赛日的间歇期，小编认真研究了权健的数据和录像（不要问我数据哪里来，看完文章你就会知道），发现该球队能在中甲独当一面，并不是只有前场三叉戟那么简单……</p>
			<img src="images/1.jpg" alt="">
			<p>这是一支爱上头条的球队权健与泰达分手后，迅速地收购了海河之滨的另一支球队——天津松江。从此之后，爱上头条就成了这支球队的特色标签。</p>
			<p>都说今年中国足坛出现了一支超级球队—“天津权健”，能把一场普通的中甲联赛踢成欧冠！于是，趁着国际比赛日的间歇期，小编认真研究了权健的数据和录像（不要问我数据哪里来，看完文章你就会知道），发现该球队能在中甲独当一面，并不是只有前场三叉戟那么简单……</p>
		</div>
	</div>
</div>
<script>
	
</script>
</body>
</html>
		