<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<title>首页</title>
	<link href="css/common.css" rel="stylesheet">
	<link href="css/page.css" rel="stylesheet">
	<link href="css/3.css" rel="stylesheet">
	<script src="js/jQuery-1.7.1.js"></script>
	<script src="js/page.js"></script>
	<script src="js/jiagu.js"></script>
</head>
<body>
<div class="row">
	<div class="c1 cons">
		<div class="rows">
			<div class="head">
				<div class="face"><img src="images/face.png" alt=""></div>
				<div class="right">
					<div class="name">葡小萄</div>
					<div class="addres">
						<div class="addimg">
							<img src="images/addres.png" alt="">
						</div>
						<span>北京</span>
					</div>
					<div class="clear"></div>
					<p class="time">03月20日  15：02分</p>
				</div>
				<div class="clear"></div>
			</div>
			<p class="content">
				<span>小时候，乡愁是一湾浅浅的海峡，我在这头，而蚜仔煎，卤肉饭，甜不辣台湾麻吉，冰火菠萝包，鼎边锉，屏东蛋糕，彰化肉圆，凤梨酥，太阳饼，姜母鸭，生炒花枝，冰火菠萝包，鼎边锉，屏东蛋糕，阿宗面线，全他妈在那头。</span>
				<a href="javascript:void(0);" class="zhankai">[展开更多]</a>
				<a href="javascript:void(0);" class="shouqi">[收起]</a>
			</p>
		</div>
		<div class="img">
			<img src="images/leftimg1.png" alt="">
			<img src="images/rightimg-top.png" alt="">
			<img src="images/rightimg-middle.png" alt="">
			<img src="images/rightimg-bottom.png" alt="">
			
			<div class="clear"></div>
		</div>
		<ul class="bottom-nav">
			<li>
				<a href="javascript:void(0);">
					<div class="one">
						<img src="images/huo.png" alt="">
						<span>加油</span>
					</div>
				</a>
			</li>
			<li><a href="javascript:void(0);">
					<div class="two">
						<img src="images/pinglun.png" alt="">
						<span>评论</span>
					</div>
			</a></li>
			<li><a href="javascript:void(0);">
					<div class="three">
						<img src="images/fenxiang.png" alt="">
						<span>分享</span>
					</div>
			</a></li>
			<div class="clear"></div>
		</ul>
		<div class="rows">
			<ul class="plface">
				<li><a href="javascript:void(0);"><img src="images/pl-face1.png" alt=""></a></li>
				<li><a href="javascript:void(0);"><img src="images/pl-face1.png" alt=""></a></li>
				<li><a href="javascript:void(0);"><img src="images/pl-face1.png" alt=""></a></li>
				<li><a href="javascript:void(0);"><img src="images/pl-face1.png" alt=""></a></li>
				<li><a href="javascript:void(0);"><img src="images/pl-face1.png" alt=""></a></li>
				<li><a href="javascript:void(0);"><img src="images/pl-face1.png" alt=""></a></li>
				<li><a href="javascript:void(0);"><img src="images/pl-face1.png" alt=""></a></li>
				<li><a href="javascript:void(0);"><img src="images/pl-face1.png" alt=""></a></li>
				<div class="clear"></div>
			</ul>
			<a href="javascript:void(0);" class="gengduo">
				<img src="images/onhuo.png" alt="">
				<span>32188</span>
			</a>
			<div class="clear"></div>
		</div>
		<ul class="xq-pls">
			<li>
				<div class="fg2"></div>
				<div class="rows">
					<div class="face">
						<img src="images/pls-face.png" alt="">
					</div>
					<div class="nr">
						<p class="name">运动达人</p>
						<p class="cont">感谢分享，真的很不错.....</p>
					</div>
					<p class="time">03月22日  18：00</p>
					<div class="clear"></div>
				</div>
			</li>
			<li>
				<div class="fg2"></div>
				<div class="rows">
					<div class="face">
						<img src="images/pls-face.png" alt="">
					</div>
					<div class="nr">
						<p class="name">我爱羽毛球</p>
						<p class="cont">啥都别说了，咱们赶紧来约球吧.....</p>
					</div>
					<p class="time">03月22日  18：00</p>
					<div class="clear"></div>
				</div>
			</li>
			<li>
				<div class="fg2"></div>
				<div class="rows">
					<div class="face">
						<img src="images/pls-face.png" alt="">
					</div>
					<div class="nr">
						<p class="name">稻草大师</p>
						<p class="cont">2016猴赛雷，一起飞.....2016猴赛雷，一起飞.....</p>
					</div>
					<p class="time">03月22日  18：00</p>
					<div class="clear"></div>
				</div>
			</li>
			<li>
				<div class="fg2"></div>
				<div class="rows">
					<div class="face">
						<img src="images/pls-face.png" alt="">
					</div>
					<div class="nr">
						<p class="name">葡小萄</p>
						<p class="cont">回复：
						<a href="javascript:void(0);" class="huifu">@我爱羽毛球：</a>
						后天上午十点奥体中心，不见不散.....</p>
					</div>
					<p class="time">03月22日  18：00</p>
					<div class="clear"></div>
				</div>
			</li>
		</ul>
		<div class="clear"></div>
		<div class="rows">
			<div class="gd-if">
				<p>没有更多了...</p>
				<a href="javascript:void(0)">查看更多评论...</a>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="rows">
			<input type="text" placeholder="我要评论.....">
			<a href="javascript:void(0);"><img src="images/biaoqing.png" alt=""></a>
		</div>
	</div>
</div>
</body>
</html>
		